---
locations:
  - name: "{{ site_name }}"
    status__name: "Staging"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    physical_address: "123 Data Hall, Server Street"
    latitude: 37.1234
    longitude: -122.5678

tenant_groups:
  - name: "Internal"
  - name: "External Clients"

tenants:
  - name: "Finance Team"
    tenant_group__name: "Internal"
  - name: "IoT Sensors"
    tenant_group__name: "Internal"

racks:
  - name: "Rack-01"
    location__name: "{{ site_name }}"
    status__name: "Available"
    u_height: 42
    type: ""

clusters:
  - name: "{{ site_name }}-cluster"
    location__name: "{{ site_name }}"
    cluster_type__name: "Generic"

virtual_machines:
  - name: "{{ site_name }}-app-vm0"
    status__name: "Active"
    cluster__name: "{{ site_name }}-cluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"

  - name: "{{ site_name }}-app-vm1"
    status__name: "Active"
    cluster__name: "{{ site_name }}-cluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"

  - name: "{{ site_name }}-app-vm2"
    status__name: "Active"
    cluster__name: "{{ site_name }}-cluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
