---
location_types:
  - "!create_or_update:name": "POPs"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
      - "!get:app_label": "dcim"
        "!get:model": "rack"

locations:
  - "!create_or_update:name": "{{ pop_name }} - {{ pop_size }}"
    location_type__name: "POPs"
    status__name: "Planned"
    "!ref": "pop"

manufacturers:
  - "!create_or_update:name": "Arista"
    description: "Arista Networks"
  - "!create_or_update:name": "Cisco"
    description: "Cisco Systems"
  - "!create_or_update:name": "OpenGear"
    description: "OpenGear Console Servers"
  - "!create_or_update:name": "APC"
    description: "APC PDUs"

racks:
  - "!create_or_update:name": "{{ pop_name }}-FIN-INFRA-01"
    "!ref": "rack1"
    location: "!ref:pop"
    status__name: "Planned"

  - "!create_or_update:name": "{{ pop_name }}-HOSTING-CAB-0"
    "!ref": "rack2"
    location: "!ref:pop"
    status__name: "Planned"

{% for i in range(1, 6) %}
  - "!create_or_update:name": "{{ pop_name }}-HOSTING-CAB{{i}}"
    location: "!ref:pop"
    status__name: "Planned"
{% endfor %}

device_types:
  - "!create_or_update:model": "7050X4"
    manufacturer__name: "Arista"
    u_height: 2
  - "!create_or_update:model": "Catalyst 2900 XL"
    manufacturer__name: "Cisco"
    u_height: 1
  - "!create_or_update:model": "CM7148-2-DAC"
    manufacturer__name: "OpenGear"
    u_height: 1
  - "!create_or_update:model": "CSR1000v"
    manufacturer__name: "Cisco"
    u_height: 1
  - "!create_or_update:model": "AP9567"
    manufacturer__name: "APC"
    u_height: 1
  - "!create_or_update:model": "Catalyst 9300"
    manufacturer__name: "Cisco"
    u_height: 1

roles:
  - "!create_or_update:name": "FIN Edge Switch"
    color: "3f51b5"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "FIN Access Switch"
    color: "3f51b5"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "FIN Router"
    color: "ffeb3b"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "FIN OOB Switch"
    color: "ffeb3b"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "FIN Consle Switch"
    color: "ffeb3b"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "FIN PDUs"
    color: "ffeb3b"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"

devices:
  - "!create_or_update:name": "{{ pop_name | lower }}-edge-sw01"
    location: "!ref:pop"
    device_type__model: "7050X4"
    role__name: "FIN Edge Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 40
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-edge-sw02"
    location: "!ref:pop"
    device_type__model: "7050X4"
    role__name: "FIN Edge Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 38
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-rtr01"
    location: "!ref:pop"
    device_type__model: "CSR1000v"
    role__name: "FIN Edge Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 36
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-rtr02"
    location: "!ref:pop"
    device_type__model: "CSR1000v"
    role__name: "FIN Edge Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 34
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-oob-sw01"
    location: "!ref:pop"
    device_type__model: "Catalyst 2900 XL"
    role__name: "FIN OOB Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 1
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-con-sw01"
    location: "!ref:pop"
    device_type__model: "CM7148-2-DAC"
    role__name: "FIN Consle Switch"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 2
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-pdu01"
    location: "!ref:pop"
    device_type__model: "AP9567"
    role__name: "FIN PDUs"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 20
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-pdu02"
    location: "!ref:pop"
    device_type__model: "AP9567"
    role__name: "FIN PDUs"
    status__name: "Planned"
    rack: "!ref:rack1"
    position: 21
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-access-sw01"
    location: "!ref:pop"
    device_type__model: "Catalyst 9300"
    role__name: "FIN Access Switch"
    status__name: "Planned"
    rack: "!ref:rack2"
    position: 40
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-access-sw02"
    location: "!ref:pop"
    device_type__model: "Catalyst 9300"
    role__name: "FIN Access Switch"
    status__name: "Planned"
    rack: "!ref:rack2"
    position: 38
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-hosting-oob-sw01"
    location: "!ref:pop"
    device_type__model: "Catalyst 2900 XL"
    role__name: "FIN OOB Switch"
    status__name: "Planned"
    rack: "!ref:rack2"
    position: 1
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-hosting-pdu01"
    location: "!ref:pop"
    device_type__model: "AP9567"
    role__name: "FIN PDUs"
    status__name: "Planned"
    rack: "!ref:rack2"
    position: 20
    face: front
  - "!create_or_update:name": "{{ pop_name | lower }}-hosting-pdu02"
    location: "!ref:pop"
    device_type__model: "AP9567"
    role__name: "FIN PDUs"
    status__name: "Planned"
    rack: "!ref:rack2"
    position: 21
    face: front
