locations:
  - name: "{{ site_name }}"
    status__name: "Staging"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    physical_address: "789 Mega Avenue, Server Street"
    latitude: 39.1234
    longitude: -124.5678
    "!ref": "my_location"

racks:
  - name: "Rack-01"
    location: "!ref:my_location"
    status__name: "Available"
    u_height: 42
    type: ""

clusters:
  - name: "{{ site_name }}-cluster"
    location: "!ref:my_location"
    cluster_type__name: "Generic"
    "!ref": "mycluster"

virtual_machines:
  - name: "{{ site_name }}-app-vm0"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: {{ memory_per_vm|int * 1024 }}
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm1"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm2"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm3"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm4"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm5"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm6"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm7"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm8"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm9"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm10"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm11"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm12"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm13"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm14"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm15"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm16"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm17"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm18"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm19"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm20"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm21"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm22"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm23"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm24"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm25"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm26"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm27"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm28"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
  - name: "{{ site_name }}-app-vm29"
    status__name: "Active"
    cluster: "!ref:mycluster"
    tenant__name: "Finance Team"
    vcpus: 4
    memory: 8192
    disk: 80
    interfaces:
      - name: "eth0"
        status__name: "Active"
